html, body {
  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", "Source Han Sans CN", sans-serif;
  background: #fff;
  font-size: 12px;
  color: #000;
}
*{margin:0; padding: 0;text-decoration: none;}
::-moz-selection{background:#ddd;color:#000;text-shadow:none;}
::selection{background:#ddd;color:#000;text-shadow:none;}
ul,li{list-style: none;}
h1,h2,h3{font-weight: normal;}

.header-wrap{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 180px;
  width: 100%;
  z-index: 10011;
  transform: translate3d(0,0,0);
  display: initial;
}
.fake-header{
  width: 100%;
  height: 180px;
}
.mod_site_nav{
  display: flex;
  -webkit-display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 60px;
  box-sizing: border-box;
  height: 180px;
  font-size: 18px;
  line-height: 18px;
  max-width: 1260px;
  background: #fff;
  margin: 0 auto;
  transform: translate3d(0, -180px, 0);
  transition: all .8s ease-out, opacity .8s ease-out;
}
.mod_site_nav .nav-logo{
  display: inline-block;
  width: 99px;
  height: 42px;
  text-align: left;
  padding: 0;
  flex-grow: 1;
}
.mod_site_nav .nav-logo a{
  display: inline-block;
  width: 110px;
  height: 100%;
  background: url('../iamges/changning.svg') no-repeat center center;
  background-size: contain;
}
.mod_site_nav .nav-search{
  text-align: right;
  padding: 0;
  flex-grow: 1;
}
.mod_site_nav .nav-search a{
  display: inline-block;
  width: 110px;
  height: 24px;
  background: url('../iamges/search.svg') 100% 50% no-repeat;
}
.nav-items{
  display: flex;
  -webkit-display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.nav-items .nav-item{
  display: inline-block;
  padding: 0 23px;
  flex-grow: 0;
}
.nav-items .nav-item a{
  position: relative;
  color: #000;
  font-size: 16px;
}
.nav-items .nav-item a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  background: currentColor;
  height: 2px;
  display: block;
  width: 100%;
  opacity: 0;
  transform: scaleX(0);
  transition: all .2s cubic-bezier(0.18, 0.89, 0.17, 0.88), opacity .15s ease;
}
.nav-items .nav-item a:hover:after {
  transform: scaleX(1);
  opacity: 1;
}
.container-fluid {
  max-width: 1260px;
  box-sizing: border-box;
  margin: 0 auto;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.box {
  margin-bottom: 20px;
  float: left;
  width: 400px;
  overflow: hidden;
}
.box:hover img{
  transform: scale(1.05);
}
.box img {
  max-width: 100%;
  transition: clip 0.4s 0.2s cubic-bezier(0,.3,.6,1), transform 0.4s 0.2s ease, opacity 0.4s 0.2s ease, -webkit-transform 0.4s 0.2s ease, -webkit-clip 0.4s 0.2s cubic-bezier(0,.3,.6,1);
}

.mode-site-footer {
  position: relative;
  z-index: 6666;
  max-width: 1260px;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  font-family: Gotham-Medium;
}
.mode-site-footer #stage {
  display: flex;
  -webkit-display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  height: 34px;
  min-height: 34px;
  width: 100%;
  max-width: 1260px;
  margin: 50px 0;
  transition: transform .3s cubic-bezier(0.555, 0.205, 0.295, 0.975);
}
.mode-site-footer #stage a{
  margin: 0 20px;
}
.mode-site-footer .poety-leter{
  position: relative;
  display: flex;
  -webkit-display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 50px 0;
  justify-content: space-between;
  text-shadow: 1px 1px 0px #fff, 3px 1px 0px rgba(0, 0, 0, 0.15);
  -webkit-text-shadow: 1px 1px 0px #fff, 3px 1px 0px rgba(0, 0, 0, 0.15);
}
.mode-site-footer .poety-leter span{
  display: inline-block;
  font-size: 28px;
  color: #666;
  letter-spacing: 14px;
  font-style: italic;
}
.mode-site-footer .poety-leter .sex-mirror{
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: aqua;
}